.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  gap: 0px 0px;
}

.nav { grid-area: 1 / 1 / 2 / 5; }

.description { grid-area: 2 / 1 / 3 / 5; }
